! HiDpi setting to hopefully make work
Xft.dpi: 192

! Font settings for st terminal
*.font: BlexMono Nerd Font Mono:size=12
st.font: BlexMono Nerd Font Mono:size=12
!st.font: Input:size=12
!*.font: Input:size=12

! Transparency (0-1):
st.alpha: 1
